<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Accounting.My.MySettings.DbConn" connectionString="Data Source=SHON\SQLEXPRESS;Initial Catalog=Church;Persist Security Info=True;User ID=sa;Password=rmfoskek;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>